#loginPanel {
		border-radius: 25px;
		background-color: rgba(0,0, 0,0.1);
		border-width: 0;
}

#resLogo{
	margin-top: 10px;
}

.unimedLogo{
	 margin-top: 100px;
}

.grad {
  background: rgb(0, 153, 51);
  background: -webkit-radial-gradient(white 1%,white 1%,rgb(0, 153, 51));
  background: -o-radial-gradient(white 1%,white 1%,rgb(0, 153, 51));
  background: -moz-radial-gradient(white 1%,white 1%,rgb(0, 153, 51));
  background: radial-gradient(white 1%,white 1%,rgb(0, 153, 51));
  position: absolute;
  height: 100%;
  width: 100%;
}

.ui-messages-info {
    color: #ffffff;
    background-color:  #9ccc65;
    border-color:  #9ccc65;
}

.hide { 
    display: none;
}


 