body {
	background-color: #F3F3F3;
	color: #4A4A4A;
}
.top-navbar {
	background-color: #ED1651 !important;
}

.sidenav {
	background-color: #F3F3F3;
}

#logo {
	background-image: url("../../imagens/logo_operadora_rp.png");
	background-repeat: no-repeat;
	background-size: 100% 80%;
}