/* @charset "ISO-8859-1"; */
body {
            padding: 20px;
            margin: 0;
            box-sizing: border-box;
            color: #707070;
        }

        span.field-icon {
            float: right;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            z-index: 2;
        }
        .btn {
       	    color: #0D1C49 !important;
       	    text-transform: uppercase;
       	    background-color: #fff !important;
       	    font-weight: 400;
       	    width: 50%;
   			height: 43px;
   			transform: translate(40%, -50%) translate(14px, 18px);
   			border: none;
        }
        .btn:hover{
                background-color: #0D1C49 !important;
    			color: #fff;
        }
        .form-signin .btn {
		    margin-top: 30px;
		}
		.form-signin .panel-body {
		    padding-bottom: 5px;
		    padding-top: 5px;
		}
		.progress {
			width: auto; # #
			background-color: #214c48;
			background-color: #0D1C49 border-radius: 2px !important;
			border-top-left-radius: 9px;
			border-top-right-radius: 9px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px; #
			margin: .5rem -1 1rem -1;
			margin: .5rem 0 1rem 0;
			overflow: hidden;
		}

		.progress .indeterminate {
			background-color: #0D1C49 !important;
		}
		input, textarea, select, button, meter, progress {
			-webkit-writing-mode: horizontal-tb !important;
		}
		.form-signin label {
			color: #808080 !important;
			font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			font-style: normal;
			font-variant-ligatures: normal;
			font-variant-caps: normal;
			font-variant-numeric: normal;
			font-variant-east-asian: normal;
			font-weight: 400;
			font-stretch: normal;
			font-size: 16px;
			line-height: 24px;
			font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
		}
		.form-signin .ui-widget {
		    font-family: Arial, sans-serif;
		    font-size: 0.55em;
		}
		.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
		    border: 1px solid;
		    margin: 10px 0px;
		    padding: 15px 15px 15px 15px;
		}
		.ui-messages-error, .ui-message-error {
		    color: #b94a48;
		    background-color: #f2dede;
		    border-color: #eed3d7;
		}